.footer {
  background-color: var(--darkCharcoal);

  // Main Links
  &-main {
    padding: calcRem(18) 0 calcRem(30);
    &-logo {
      padding-top: calcRem(25);
      text-align: center;
    }

    &-links {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid var(--graniteGray);
      margin-bottom: 25px;
      padding-bottom: 10px;
      @include mq("lg") {
        justify-content: start;
      }
      li {
        padding: 0 15px;
        width: 50%;
        @include mq("lg") {
          padding: 0;
          width: auto;
          margin-inline-end: 30px;
          &:last-child {
            margin-inline-end: 0;
          }
        }
        a {
          position: relative;
          transition: 0.3s ease;
          padding-bottom: 15px;
          display: flex;
          color: var(--white);
          text-align: center;
          align-items: center;
          text-decoration: none;
          font-family: $font-b;
          font-size: calcRem(16);
          justify-content: center;
          @include mq("lg") {
            justify-content: flex-start;
          }
          &:hover {
            color: var(--main-color);
          }
        }
      }
      &.bullets {
        a {
          &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-inline-end: 10px;
            display: inline-block;
            background-color: var(--graniteGray);
          }
        }
      }
    }

    &-social {
      display: flex;
      justify-content: center;
      padding-top: calcRem(15);
      li {
        margin-inline-end: 10px;
        position: relative;
        transition: 0.4s ease;

        &:last-child {
          margin-inline-end: 0;
        }
        &::after {
          content: "";
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          width: calcRem(40);
          height: calcRem(40);
          border-radius: 6px;
          background-color: var(--outerSpace);
          z-index: 0;
          transition: top 0.4s ease;
        }
        &::before {
          content: "•";
          position: absolute;
          bottom: 0;
          color: var(--white);
          bottom: -4px;
          color: var(--white);
          display: inline-block;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          transition: 0.4s ease;
        }
        &:hover {
          &::after {
            background-color: var(--metalSaurus-85);
            top: -10px;
          }
          &::before {
            opacity: 1;
          }
          a {
            transform: translateY(-10px);
          }
        }
      }
      a {
        width: calcRem(40);
        height: calcRem(40);
        border-radius: 6px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--silverSand);
        text-decoration: none;
        position: relative;
        z-index: 1;
        transition: 0.4s ease-in-out;

        &:hover {
          color: var(--white);
        }
      }
    }
  }
  // Copyright
  &-copyright {
    background-color: var(--richBlack);
    color: var(--silverSand);
    font-size: calcRem(14);
    padding: 8px 0;
    line-height: 19px;
    .dev-comp {
      @include mq("lg") {
        position: relative;
        &::before {
          content: "";
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin-inline-end: 10px;
          display: inline-block;
          background-color: var(--silverSand);
        }
      }
    }
  }
}
