#content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1 1 auto;
    // position: relative;
    // z-index: 2;
    padding-bottom: calcRem(60);

    @include mq("lg") {
      padding-bottom: calcRem(120);
    }
  }
}

.ratio-lg {
  --bs-aspect-ratio: 50%;
}

.ratio-md {
  --bs-aspect-ratio: 33.8%;
}

.content-section {
  padding: calcRem(40) 0;
}

@include mq("xl") {
  .container {
    max-width: 1160px;
  }
}

.side-bar-col {
  @include mq("lg") {
    width: 300px;
  }
}

.content-col {
  position: relative;

  @include mq("lg") {
    padding-inline-end: calcRem(42);
    &::after {
      content: "";
      height: 100%;
      width: 1px;
      background-color: var(--lightSilver);
      #{$left}: calcRem(21);
      position: absolute;
      top: 1px;
    }
  }
}
