.header {
  position: relative;
  z-index: 9;
  @include mq("lg") {
    border-bottom: 5px solid var(--main-color);
  }
  &.fann-section {
    border-bottom: 2px solid var(--flirt);

    @include mq("lg") {
      border-bottom: 5px solid var(--flirt);
    }
  }
  .container {
    position: relative;
  }
  // Pannal top header
  &-panal {
    background-color: var(--darkCharcoal);
    padding: 5px 0;
    height: 40px;
    @include mq("lg") {
      height: 40px;
    }
    .time-weather {
      color: var(--white);
      display: flex;
      align-items: center;
    }
  }

  // theme
  .theme-controls {
    background-color: #464749;
    padding: 3px 8px;
    border-radius: 4px;
    button {
      all: unset;
      cursor: pointer;
      color: #707070;
      transition: 0.4s ease;
      &:first-child {
        margin-inline-end: 4px;
      }
      &:hover {
        color: var(--white);
      }
    }
    .active {
      color: var(--white);
    }
  }

  .navbar-toggler {
    color: black;
    font-size: 20px;
    &:focus {
      box-shadow: none;
    }
  }

  // Hheader TOp
  .top-header-row {
    padding: calcRem(12) 0;

    .logo-wrapper {
      &-image {
        > a {
          display: flex;
          .main-img {
            width: 70px;

            @include mq("sm") {
              width: 100px;
            }

            @include mq("xl") {
              width: 140px;
              height: auto;
            }

            @include mq("xxxl") {
              width: 191px;
              height: 111px;
            }
          }

          .second-img {
            max-width: 45px;
            height: auto;
            margin-#{$right}: 6px;

            @include mq("sm") {
              max-width: 50px;
            }

            @include mq("xxl") {
              max-width: 70px;
            }
          }
        }
      }

      &-manger {
        text-align: center;
        font-family: $font-b;

        .title {
          font-size: 10px;
          color: var(--main-color);

          @include mq("md") {
            font-size: calcRem(12);
          }

          @include mq("xl") {
            font-size: calcRem(14);
          }
        }

        .name {
          font-size: calcRem(13);
          color: var(--richBlack);

          @include mq("md") {
            font-size: calcRem(17);
          }

          @include mq("lg") {
            margin-top: 6px;
            font-size: calcRem(20);
          }
        }
      }
    }

    // header-logos

    .header-logos {
      &-item {
        max-width: calcRem(50);
        max-height: calcRem(50);
        width: 100%;
        height: auto;
        display: inline-flex;
        border: 1px solid;
        border-radius: 50%;
        transition: 0.4s ease-in-out;

        @include mq("xxxl") {
          max-width: calcRem(58);
          max-height: calcRem(58);
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: 0.4s ease-in-out;
        }

        &:hover {
          img {
            filter: contrast(0) brightness(10);
          }
        }

        &.sport {
          border-color: #00492b;

          &:hover {
            background-color: #00492b;
          }
        }

        &.alwan {
          border-color: #f37021;

          &:hover {
            background-color: #f37021;
          }
        }

        &.honna {
          border-color: #b7569d;

          &:hover {
            background-color: #b7569d;
          }
        }
      }
    }

    // adsns
    .main-adsense {
      padding: 10px 0;
      border: unset;

      @include mq("md") {
        border: 1px solid #000;
        margin: 12px 0;
        padding: 10px 10px;
      }
    }
  }
}

// Menu
.main-header-menu {
  width: 100%;
  @include mq("lg") {
    border-top: 1px solid var(--brightGray);
  }
  .navbar {
    padding: 0;
  }

  .navbar-nav {
    transition: 0.4s ease;

    .nav-item {
      margin-#{$left}: calcRem(15);
      @include mq("xl") {
        margin-#{$left}: calcRem(30);
      }

      .nav-link {
        color: var(--metalSaurus-85);
        font-family: $font-b;
        font-size: calcRem(16);
        height: 100%;
        transition: transform 0.5s ease;
        padding: 0.8rem 0;
        @at-root body.search-open & {
          opacity: 0.2;
          user-select: none;
          pointer-events: none;
        }
        &.active {
          color: var(--richBlack);
        }
        &:hover {
          color: var(--richBlack);
          text-decoration: none;
        }
      }
      &:last-child {
        margin-#{$left}: 0;
      }
    }
  }

  // DropDown
  .dropdown {
    .dropdown-toggle {
      &::after {
        display: none;
      }
    }
    .dropdown-menu {
      background-color: var(--brightGray);
      margin-top: 0;
      border: none;
      border-radius: 0 0 4px 4px;
      padding: 0;

      li {
        a {
          display: block;
          text-align: $right;
          font-size: calcRem(14);
          color: var(--richBlack);
          padding: 0.7rem 0.5rem;
          border-bottom: 1px solid var(--lightSilver);
          position: relative;

          &:hover {
            background-color: #424242;
            color: #fff;
          }

          &:focus,
          &:active {
            color: #fff;
            background-color: #bed747;
          }
        }
      }
    }
  }

  .search {
    a {
      color: var(--richBlack);
      font-size: calcRem(20);
    }
  }

  // mobile sidebar

  @media only screen and (max-width: 992px) {
    .main-menu {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 40px;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      z-index: 10;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      visibility: hidden;
      display: block;

      .mobile-menu-logo {
        max-width: 50%;
        object-fit: contain;
        display: block;
        height: auto;
        margin-bottom: 25px;
        padding-inline-start: 15px;
      }
      .close-mobile-icon {
        all: unset;
        color: #fff;
        font-size: 30px;
        margin-#{$left}: auto;
        display: block;
        cursor: pointer;
      }
      .navbar-collapse {
        display: block;
        width: calc(100% - 60px);
        background: #fff;
        position: fixed;
        top: 40px;
        bottom: 0;
        overflow-y: auto;
        z-index: 21;
        #{$right}: 0;
        transition: 0.6s ease;
        padding: 20px 0;
        transform: translateX(100%);
        .navbar-nav,
        #autoComplete-box,
        .social-media {
          padding: 15px;
        }
        .dropdown-toggle {
          &::after {
            display: inline-block;
          }
        }
        .dropdown-menu {
          .dropdown-item {
            font-size: 16px;
            font-weight: 500;
            font-family: $font-b;
            color: var(--white);
            padding: 10px 20px;
            line-height: 20px;
          }
        }
      }
      .navbar-toggler {
        all: unset;
        color: var(--white);
        font-size: calcRem(30);
        position: fixed;
        #{$left}: 20px;
        top: 50px;
      }

      .social-media {
        display: flex;
        justify-content: center;
        .social-item a {
          color: var(--richBlack);
          i,
          svg {
            font-size: 20px;
          }
        }
      }

      &.show {
        opacity: 1;
        visibility: visible;

        .navbar-collapse {
          transform: translateX(0);
        }
      }
    }
  }
}

.mega-dropdown-item {
  position: absolute;
  right: 0;
  left: 0;
  background-color: #464749;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0 15px 0;
  border: unset;
  margin-top: 0;
  border-radius: unset;
  border-top: 2px solid #666;
  // display: none;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease;
  visibility: hidden;

  .mega-menu-card {
    margin-top: 24px;

    img {
      height: 130px;
      object-fit: cover;

      @include mq("xxl") {
        height: 175px;
      }
    }
  }

  .show-more {
    padding-bottom: 15px;

    a {
      font-size: calcRem(16);
      color: #fff;
      transition: 0.3s ease;

      &:hover {
        color: #000;
      }
    }
  }

  &.show {
    z-index: 3;
  }
}

.mega-menu-card {
  a {
    display: block;

    &:hover {
      .mega-menu-card-text {
        color: #fff;
      }
    }
  }

  &-text {
    font-family: $font-b;
    font-size: 16px;
    color: #aeb0b3;
    line-height: 26px;
    text-align: right;
    margin-top: 8px;
    max-height: 82px;
    min-height: 82px;
    overflow: hidden;
    transition: 0.3s ease;
  }
}

.aside-news-card {
  img {
    object-fit: cover;
  }

  a {
    display: block;
    color: #000;
    font-size: 17.5px;
    font-family: $font-l;
    font-weight: normal;
    line-height: 26px;

    @include mq("lg") {
      font-size: 18px;
    }

    @include mq("xxl") {
      font-size: 20px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .card-image {
    position: relative;
  }

  .card-text {
    margin-top: 8px;
    transition: 0.3s ease;
    line-height: 30px;
    font-size: calcRem(19);
    @include ellipse-rows(3);

    @include mq("md") {
      font-size: calcRem(17);
      line-height: 20px;
    }

    @include mq("xxl") {
      font-size: calcRem(20);
      line-height: 30px;
    }

    &.two-lines {
      @include ellipse-rows(2);
    }
  }
}
