.back-to-top {
  position: fixed;
  bottom: 40px;
  #{$right}: 1%;
  z-index: 20;
  background-color: var(--white);
  border: 2px solid var(--main-color);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: var(--main-color);
  cursor: pointer;
  animation: movebtn 5s linear infinite;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-size: 14px;
  @include mq("xxl") {
    #{$right}: 2%;
  }
  &:hover {
    background-color: var(--main-color);
    color: var(--white);
    border-color: var(--white);
  }
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}
