.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.4rem;
  --bs-btn-font-size: 0.9rem;
  --bs-btn-border-radius: 5px;
  --bs-btn-line-height: 1.5;
  i {
    font-size: min(0.8rem, 1rem);
  }
  &:hover {
    text-decoration: none;
  }
}

.btn-primary {
  --bs-btn-bg: var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-color: var(--white);

  --bs-btn-hover-bg: var(--vividVermilion);
  --bs-btn-hover-border-color: var(--vividVermilion);
  --bs-btn-hover-color: var(--white);
  --bs-btn-active-bg: var(--vividVermilion);
  --bs-btn-active-border-color: var(--vividVermilion);

  --bs-btn-disabled-color: #A1A2A8;
  --bs-btn-disabled-bg: #E7E8EA;
  --bs-btn-disabled-border-color: #E7E8EA;
}
.btn-outline-primary {
  --bs-btn-color: var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-bg: var(--main-color);
  --bs-btn-hover-border-color: var(--main-color);
  --bs-btn-active-bg: var(--main-color);
  --bs-btn-active-border-color: var(--main-color);
  --bs-btn-disabled-color: var(--main-color);
  --bs-btn-disabled-border-color: var(--main-color);

}

// .btn-dark {
//   --bs-btn-bg: var(--dark-color);
//   --bs-btn-border-color: var(--dark-color);
//   --bs-btn-hover-bg: #212529;
// }


.share-comment {
  background-color: var(--brightGray);
  border-radius: 25px;
  display: block;
  padding: 10px 25px;
  font-size: calcRem(15);
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: var(--lightSilver);
    text-decoration: none;
  }
}