.form-label {
  color: rgba(255, 255, 255, 0.7);
  padding-inline-start: calcRem(12);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"] {
  @at-root {
    [dir="rtl"] & {
      position: relative;
    }
  }
  &::-webkit-calendar-picker-indicator {
    color: #fff;
    opacity: 1;
    display: block;
    background: url("../images/calendar-days-solid.svg") no-repeat;

    width: 12px;
    height: 12px;
    border-width: thin;
    @at-root {
      [dir="rtl"] & {
        background-position: right center;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #9a979c inset !important;
}

.form-control {
  padding: 0.45rem calcRem(16);
  border: 1px solid #454247;
  background-color: #2f2b31;
  border-radius: 32px;
  transition: 0.4s ease-in-out;
  font-size: calcRem(14);
  color: var(--white);
  text-align: $left;

  &:focus {
    box-shadow: none;
    background-color: #454247;
    border: 1px solid var(--main-color);
    color: var(--white);
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

//? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// textarea
//? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
textarea,
textarea.form-control {
  resize: none;
  border-radius: 18px;
  text-align: $left;
}

//? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// Select
//? @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.form-select {
  border: 1px solid #454247;
  background-color: #2f2b31;
  color: var(--white);
  border-radius: 32px;
  transition: 0.4s ease-in-out;
  text-align: $left;
  background-image: url("../images/ddm-arrow.svg");

  &:focus {
    box-shadow: none;
    background-color: #454247;
    border: 1px solid var(--main-color);
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  option:disabled {
    color: rgba(255, 255, 255, 0.6);
  }
}
