.egyptnews {
  .heading-link {
    font-size: calcRem(22);
    line-height: calcRem(33);

    font-family: $font-b;
    margin-bottom: 10px;
    display: block;
    @include ellipse-rows(4);
  }
  &--text {
    font-family: $font-b;
  }
  .reloadLink {
    color: var(--metalSaurus);
    font-size: calcRem(15);
  }

  .fav-card {
    border-bottom: 1px solid var(--brightGray);
  }
}
