.latest-news {
  position: relative;
  &-section-floating {
    border-radius: 4px;
    padding: 7px 28px;
    background-color: var(--lightSilver);
    bottom: 0;
    #{$right}: 0;
    font-family: $font-b;
    position: relative;
    margin-bottom: 25px;
    @include mq("xl") {
      position: absolute;
      margin-bottom: 0;
    }
    &-title {
      position: relative;
      display: block;
      &::after {
        content: attr(data-counter);
        position: absolute;
        #{$left}: -22px;
        top: -3px;
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
        color: #fff;
        font-size: 0.9em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
}
.latest-news-title {
  font-size: calcRem(20);
  font-family: $font-b;
}
.latest-news-carousel {
  &-card {
    display: flex;
    @include mq("md") {
      border-#{$left}: 1px solid var(--brightGray);
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: contain;
    }
    &-body {
      padding-inline-start: 15px;
      &-title {
        font-family: $font-b;
        margin-bottom: 10px;
      }
      &-text {
        font-size: 15px;
        font-family: $font-l;
        color: var(--outerSpace);
      }
    }
  }

  div[class^="swiper-button"] {
    display: none;
    @include mq("xl") {
      display: flex;
    }
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 90px;
      background-color: rgb(255 255 255 / 62%);
      z-index: -1;
      left: 0;
      filter: blur(6px);
    }
    top: 18%;
    &.swiper-button-next {
      #{$left}: 0;
      #{$right}: auto;
    }
    &.swiper-button-prev {
      #{$right}: 0;
      #{$left}: auto;
    }
  }
}
